<p-card>
	<h1>Community</h1>
	<div class="grid-container">
		@switch (dealingStage) {
			@case (0) { <!-- preflop -->
				<app-card *ngFor="let card of community.slice(0,0)" [card]="card"></app-card><br />
			}
			@case (1) { <!-- flop -->
				<app-card *ngFor="let card of community.slice(0,3)" [card]="card"></app-card><br />
			}
			@case (2) { <!-- turn -->
				<app-card *ngFor="let card of community.slice(0,4)" [card]="card"></app-card><br />
			}
			@case (3) { <!-- river -->
				<app-card *ngFor="let card of community" [card]="card"></app-card><br />
			}
			@case (4) {
				<app-card *ngFor="let card of community" [card]="card"></app-card><br />

			}

		}
	</div>
	@if (dealingStage == 4) {
		<h2 *ngFor="let winner of winners">Winner: {{ winner.player.name }}  via {{ winner.hand.name }}</h2>
	}
</p-card>